
// 内容的宽度
// $contentWidth = 100%

// // 默认主题下的hover颜色(主题绿)
// $accentColor = #3eaf7c 
// // 默认主题下的文本颜色
// $textColor = #2c3e50
// // 默认主题下的border颜色
// $borderColor = #eaecef
// // 默认主题下的代码块背景色(背景黑)
// $codeBgColor = #282c34
